@charset "utf-8";

#___container {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('images/star-bg.jpg');
    background-position: center;
    position: relative;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: black;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

 
}

.cus-bg{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    background-image: linear-gradient(to right,black,#121a27,black)!important;
    border-bottom:5px solid rgb(198, 179, 179);
    text-shadow: 0 0 2px black, 0 0 2px whitesmoke;
}
    
.nav-link>a:hover{
    color: white;
    text-shadow: 0 0 3px black, 0 2px 15px white !important;
}

.nav-link>a {
    text-decoration: none;
    color: #fff;
}

